NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_EMPLOYEE_TABLE=
NEXT_PUBLIC_EMPLOYEE_FIELD_STATUS=
NEXT_PUBLIC_EMPLOYEE_FIELD_GENDER=
NEXT_PUBLIC_EMPLOYEE_FIELD_BIRTHDATE=
NEXT_PUBLIC_EMPLOYEE_FIELD_EDUCATION=
NEXT_PUBLIC_EMPLOYEE_FIELD_POSITION=
NEXT_PUBLIC_EMPLOYEE_FIELD_DEPARTMENT=
NEXT_PUBLIC_EMPLOYEE_TABLE_COLUMNS=