NEXT_PUBLIC_SUPABASE_URL=https://ihgdttnuhrkuckyrkbnf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloZ2R0dG51aHJrdWNreXJrYm5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyMzY2NDAsImV4cCI6MjA4MTgxMjY0MH0.th_Fsjnai5ehuCiCxBKT-BJH9T9otGdtyO0xBJX4gw4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloZ2R0dG51aHJrdWNreXJrYm5mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjIzNjY0MCwiZXhwIjoyMDgxODEyNjQwfQ.SGUjchrBgRfftJhW5w6cOGyhj8weuMSlKDsb6OiMKNE
NEXT_PUBLIC_SUPABASE_EMPLOYEE_TABLE=pegawai
NEXT_PUBLIC_EMPLOYEE_FIELD_STATUS=kategori
NEXT_PUBLIC_EMPLOYEE_FIELD_GENDER=jenis_kelamin
NEXT_PUBLIC_EMPLOYEE_FIELD_BIRTHDATE=tanggal_lahir
NEXT_PUBLIC_EMPLOYEE_FIELD_EDUCATION=pendidikan_terakhir
NEXT_PUBLIC_EMPLOYEE_FIELD_POSITION=jabatan
NEXT_PUBLIC_EMPLOYEE_FIELD_DEPARTMENT=golongan
NEXT_PUBLIC_EMPLOYEE_TABLE_COLUMNS=nama,nip,jenis_kelamin,kategori,golongan,jabatan,jenis_jabatan,eselon,pendidikan_terakhir,tanggal_lahir
